:root {
    --main-color: #0073e6; /* Calming blue for primary elements */
    --secondary-color: #ffffff; /* A vibrant, yet balanced green */
    
    --bg-color-one: #f5f7fa; /* Light off-white for background */
    --bg-color-two: #e6eef4; /* Subtle light blue background shade */
    --bg-color-three: #afd6f5; /* Softer blue accent */
    
    --font-size: 16px;
    --main-font: 'Segoe UI', Tahoma, Geneva, sans-serif; /* Clean and modern font choice */

    --row-height: 4rem;
    --border-radius: 6px; /* Slightly rounded for a modern look */
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
    /* font-size: 16px; */
    line-height: 1.5;
    color: var(--main-color);
    background-color: var(--bg-color-one);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

html, body {
    height: 100%;
    width: 100%;
}



.topContainer, .centerContainer, .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.topContainer {
    padding: 4vh 0;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--bg-color-two);
    /* border-bottom: 2px solid var(--bg-color-three); */
}
.topContainer > h1 {
    font-weight: 500;  
}

.centerContainer {
    gap:6vh;
    justify-content:flex-start;
}

.uploadForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 4vh;
}

.file-upload-wrapper {
    padding: 3px;
    position: relative;
    width: 100%;
    height: 10vh;
    
}
input[type="file"] {
    cursor: pointer;
    opacity: 0;/* Invisible but functional */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.uploadFileBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid var(--main-color); */
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 3px 0px var(--main-color);
    padding: auto;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-two);
  
}

input[type="file"]:hover +.uploadFileBtn {
    background-color: var(--bg-color-three);
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    box-shadow: 0px 0px 5px 1px var(--bg-color-three) ;
}
 
.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    width: 98%;
    background-color: var(--bg-color-three);  
    padding: 2px 2px;
    gap: 4px;
    box-shadow: 0px 0px 4px 0px var(--main-color);

}

.result:empty {
    padding: 0;
}

.resultRow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    border: 1px solid var(--bg-color-two);
    border-radius: var(--border-radius);
    width: 100%;
    min-height: var(--row-height);
    background-color: var(--bg-color-two); 
}

.loadingSpinner {
    display: flex;
    justify-content: center;
    background-color: var(--bg-color-two);
    border-radius: var(--border-radius);
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    
}
  
.spinner {
    border: 4px solid var(--bg-color-three);
    border-left-color: var(--main-color);
    border-radius: 50%;
    width: calc(var(--row-height)*.9);
    height: calc(var(--row-height)*.9);
    animation: spin 1s linear infinite;
   
}

.songName, 
.songBpm,
.songKey {
    font-weight: 200;
    width: 25%;
    padding: 0px 4px;
}
.songName {
    width: 50%;

}

.footer {
    margin-top: 5vh;
     background-color: var(--bg-color-two);
     padding: 4vh 0;
}

a {
    display: inline-block; 
    color: inherit; /* Inherits text color from its parent */
    text-decoration: none; /* Removes underline */
    outline: none; /* Removes outline */
    background: none; /* Removes any default background */
    border: none; /* Removes border if any */
    padding: 0; /* Removes padding */
    margin: 0; /* Removes margin */
    transition: transform 0.3s ease; /* Smooth transition */
  
}
.footer a:hover {
 
    transform: scale(1.1)
   
}

  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  