
:root{
    --main-color: #3498db;
    --bg-color-one:#292a2c;
    --secondary-color: #2ecc71;
    --font-size: 16px;
    --main-font: Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-color)
}

html, body {
    height: 100%;
    width: 100%;
}


.topContainer, .centerContainer {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.centerContainer {
    min-height: 50vh;
    gap:6vh;
}

.uploadForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.file-upload-wrapper {
    padding: 3px;
    /* border: 1px solid red; */
    position: relative;
    width: 100%;
    height: 10vh;
    
}
input[type="file"] {
    cursor: pointer;
    opacity: 0;/* Invisible but functional */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}


.uploadFileBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: auto;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    
}

button {
    padding: 6px 12px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover, 
input[type="file"]:hover +.uploadFileBtn {
    /* background-color: darken(var(--main-color), 90%); Darker shade on hover */
    background-color: var(--bg-color-one);
}
 

.result {
    display: flex;
    border: 1px solid var(--main-color);
    width: 98%;
}

.songName, 
.songBpm,
.songKey {
    display: flex;
    justify-content: center;
    align-items: center;
}
.songName {
    width: 50%;
}
.songBpm {
    width: 25%;
}