<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Analysis Tool</title>
   <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="topContainer">
        <h1 class="header">BPM+KEY</h1>
    </div>
    <div class="centerContainer">
        <form id="uploadForm" class="uploadForm" method="POST" action="/upload" enctype="multipart/form-data">
            <label for="audioFile">Upload Audio File:</label>
            <div class="file-upload-wrapper">
                <input type="file" id="audioFile" name="audioFile" multiple accept="audio/*">
                <div class="uploadFileBtn">UPLOAD</div>
            </div>
            
           
        
        </form>
        <div id="result" class="result"></div>
        

    </div>
    <div class="footer">
        <h2><a href="https://lustforsounds.com" target="_blank" rel="noopener noreferrer">lustforsounds studio</a></h2>
     </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>